@import './variables';
@import './functions';

// 1024
@mixin medium-screen() {
    @media (max-width: $medium-screen) {
        .content{
            max-width: 80%;
        }
    }
}
// 900
@mixin smaller-sceen() {
    @media (max-width: $smaller-screen) {
        .content{
            max-width: 100%;
        }
    }
}
// 768
@mixin bigger-mobile() {
    @media (max-width: $bigger-mobile) {
        nav{
            right: 1rem;
        }
            
        .content{
            max-width: 100%;
            h1{
                font-size: fontSize(biggest) * .875;
            }
            h2{
                font-size: fontSize(bigger) * .75;
            }
            #contact li{
                margin-right: 2rem;
            }
        }
    }
}
// 600
@mixin mobile {
    @media (max-width: $mobile) {
        .content{
            h1{
                font-size: fontSize(bigger);
            }
            #contact li{
                display: block;
                margin-top: topMargin(small) * 1.25;
            }
            #contact li:first-child{
                margin-top: topMargin(regular);
            }
        }
    }
    
}
// 480
@mixin smaller-mobile {
    @media (max-width: $smaller-mobile) {
        .content{
            h1{
                font-size: fontSize(bigger) * .75;
                width: max-content;
            }
            h2{
                font-size: fontSize(big);
            }
            h3{
                font-size: fontSize(big) * .875;
            }
            p.lead{
                font-size: fontSize(regular) * 1.25;
            }
            p {
                font-size: fontSize(regular) * .875;
            }
            #contact li{
                font-size: fontSize(regular) * .875;
            }
        }
    }
}


:root{
    @include medium-screen();
    @include smaller-sceen();
    @include bigger-mobile();
    @include mobile();
    @include smaller-mobile();
}