// variables
@import './variables';
@import './functions';
// mixins
@mixin paragraphStyle($top-margin-name, $font-size-name, $font-size-variation, $font-weight-name) {
    margin-top: topMargin($top-margin-name);
    font-size: fontSize($font-size-name) + $font-size-variation;
    font-weight: fontWeight($font-weight-name);
    line-height: 1.2;
}

@mixin titleStyle($top-margin-name, $font-size-name, $font-weight-name) {
    margin-top: topMargin($top-margin-name);
    font-size: fontSize($font-size-name);
    font-weight: fontWeight($font-weight-name);
}

// theme method from https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
@mixin themify() {
    @each $theme, $map in $themes {
      .theme-#{$theme} {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}
@mixin glitch() {
    .charSpan{
        display: inline-block;
        transition: transform 0.1s ease-in-out;
    
        &:hover{
            transform: translateY(-2px);
            text-shadow:
            0 2px 0 $blue,
            0 4px 0 $cyan,
            0 -2px 0 $red,
            0 -4px 0 $yellow;
        }
    }
    
}
// main style
:root{
    font-size: 62.5%;
    font-family: $font-family;
    // overscroll-behavior: none;
    @include themify(){
        color: themed('text-color');
        background: themed('background-color');
    }
    @include glitch();
}
a{
    text-decoration: none;
}
nav{
    position: sticky;
    max-width: 10%;
    margin-left: 90%;
    top: 5rem;
    margin-top: topMargin(regular);
    
    .toggle-wrapper{
        @include themify(){
            background: themed('toggle-color');
        }
        
        position: relative;
        width: 1rem;
        height: 1rem;
        padding: 1rem;

        .theme-toggle{
            position: absolute;
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;

            &.theme-light::after{
                content: '';
                position: absolute;
                width: 0.8rem;
                height: 0.8rem;
                top: 0.1rem;
                left: 0.4rem;
                border-radius: 50%;
                background: $white;
            }
            &.theme-dark::after{
                content: '';
                position: absolute;
                width: 1.4rem;
                height: 1.4rem;
                top: -0.2rem;
                left: -0.2rem;
                border-radius: 50%;
                border: 1px dotted;
            }
        }

        &:hover{
            cursor: pointer;
        }
    }
}

main{
    max-width: 60%;
    margin: auto;

    .content{
        max-width: 60%;

        h1{
            @include titleStyle(taller, biggest, bold);
        }
        p.lead{
            @include paragraphStyle(regular, regular, + 0.5rem, regular);
        }
        h2{
            @include titleStyle(tall, bigger, bold);
        }
        #projects h2{
            margin-bottom: -5rem;
        }
        h3{
            @include titleStyle(tall, big, regular);
        }
        p{
            @include paragraphStyle(regular, regular, 0, regular);

            &.footer{
                margin-top: topMargin(taller);
                margin-bottom: 2.5rem;
            }
        }
        .about-content{
            p:not(:first-child){
                margin-top: topMargin(small);
            }
        }
        #contact li{
            margin-right: 4rem;
            display: inline-block;
            @include paragraphStyle(regular, regular, 0, regular);

            &:hover{
                color: $red
            }
        }
        img{
            margin-top: topMargin(small) * 2.5;
            position: relative;
            max-width: 100%;
            opacity: 0.875;
            border-radius: 0.5rem;
        }
    }
}

// responsive
@import './responsive';
